
.parent{
	border: 1px solid #999;
	position: absolute;
	overflow: auto;
	left: 20px;
	top: 20px;
	right: 20px;
	background:#eee;
}
.left{
	float: left;
	width: 200px;
	height: 120px;
	margin:20px;
	background: white;

}
.middle{
	position: absolute;
	padding: 20px;
	margin-top:20px;
	width: auto;
	left: 240px;
	right: 160px;
	background: white;
}
.right{
	float: right;
	margin:20px;
	width: 120px;
	height: 260px;
	background: white;

}