body{
	font-family: "微软雅黑";
}
.parent{
	border: 1px solid #999;
	min-width: 800px;
	position: absolute;
	overflow: auto;
	padding: 20px;
	left: 20px;
	top: 20px;
	right: 20px;
	background:#eee;
}
.left{
	border: 1px solid #999;
	float: left;
	width: 200px;
	height: 120px;
	background: white;

}
.middle{
	border: 1px solid #999;
	position: absolute;
	padding: 20px;
	width: auto;
	left: 240px;
	right: 160px;
	background: white;
	margin-bottom: 20px;
}
.right{
	border: 1px solid #999;
	float: right;
	width: 80px;
	height: 450px;
	padding:20px;
	background: white;

}

.team_logo{
	float: left;
	width: 80px;
	height: 80px;
	margin: 20px;

}
.team_name{
	float: left;
	padding:20px 0;
	width: 60px;

}
.per_logo1{
	margin-top: 0;
	height: 80px;
	width: 80px;

}
.per_logo5{
	margin-top: 10px;
    margin-bottom: 0;
	height: 80px;
	width: 80px;
} 
.per_logo{
	height: 80px;
	width: 80px;
	margin-top: 10px;

}
